servicioClienteFecha/src/META-INF/wsdl/localhost_8084/servicioWebFecha/servicioWebFecha.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://utilidadFecha.ui.elearning.web.progra/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://utilidadFecha.ui.elearning.web.progra/">

<xs:element name="getFecha" type="tns:getFecha" />

<xs:element name="getFechaResponse" type="tns:getFechaResponse" />

<xs:complexType name="getFecha">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFechaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>